{% extends 'base.html.twig' %} {% block title %}Edit User{% endblock %} {% block
body %}
<h3 class="text-2xl font-bold m-2">Edit Password</h3>

{{ include("user/_form.html.twig", { button_label: "Update" }) }}

<a class="ml-2" href="{{ path('app_user_edit') }}">back to profile</a>

{% endblock %}
